.suggestions{
    margin-top: 30px;
    margin-right: 20px;
}

.suggestions__title{
    color: gray;
    font-weight: bold;
}

.username__left{
    display: flex;
    align-items: center;
}

.username__info{
    display: flex;
    flex-direction: column;
}

.relation{
    color: gray;
    font-size: 12px;
}

.suggestions__username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.follow__button{
    color: #0095F7;
    font-weight: bold;
    background: 0;
    border: 0;
}

.follow__button:hover{
    color: white;
    cursor: pointer;
}

.username{
    font-weight: 600;
    font-size: 14px;
}

.username__info:hover{
    color: mediumseagreen;
    cursor: pointer;
}

.avatar{
    margin-right: 10px;
}
